.card {
  width: 600px;
  height: 400px;
  border-radius: 12px;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.312);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.756);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
