.box {
  width: 100px;
  height: 150px;
  background: rgba(255, 255, 255, 0.297);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: -1;
}

.one {
  position: absolute;
  transform: rotate(-45deg) translate(30%, -60%);
}

.two {
  position: absolute;
  transform: rotate(-45deg) translate(710%, 35%);
  z-index: 1;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
